{% extends "base.html" %}
{% block content %}
<h1>Links to learn for Cloud Engineer</h1>
<ul class="qaz list-group list-group-flush">
    <li class="list-group-item"><a href="https://dev.to/ileriayo/becoming-a-cloud-engineer-in-2023-a-roadmap-1f6k">Becoming a Cloud Engineer in 2023 (A Roadmap)</a></li>
    <li class="list-group-item"><a href="https://www.youtube.com/watch?v=2LaAJq1lB1Q&ab_channel=edureka%21">Cloud Computing Full Course - Edureka</a></li>
    <li class="list-group-item"><a href="https://www.youtube.com/watch?v=SOTamWNgDKc&t=3667s&ab_channel=freeCodeCamp.org">AWS Certified Cloud Practitioner Certification Course - freeCodeCamp</a></li>
    <li class="list-group-item"><a href="https://www.youtube.com/watch?v=dwuwfGcfIV4&ab_channel=ABINChannel">Cloud Engineer Roadmap to get job in Tamil - Abin</a></li>
</ul>
<br/ >
<h1 class="pb-3">Jobs for Cloud Engineer</h1>
<div class="list-group">
  {% for job in data %}
  <a href={{ job['job_apply_link'] }} class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ job['job_title'] }}</h5>
      <small>{{ job['job_posted_at_datetime_utc'][:10] }}</small>
    </div>
    <p class="mb-1">{{ job['employer_name'] }}.</p>
    <small>{{ job['job_publisher'] }}</small>
  </a>
  {% endfor %}
</div>
{% endblock %}