{% extends "base.html" %}
{% block content %}
<h1>Links to learn for Database Engineer</h1>
<ul class="qaz">
    <li><a href="https://www.analyticsvidhya.com/blog/2023/01/step-by-step-roadmap-to-become-a-data-engineer-in-2023/">Step-by-Step Roadmap to Become a Data Engineer - Analytics Vidhya</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PL_c9BZzLwBRK0Pc28IdvPQizD2mJlgoID">Database Design - Caleb Curry</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PL32BC9C878BA72085">MySQL Database Tutorial - thenewboston</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PLQnljOFTspQXjD0HOzN7P2tgzu7scWpl2">Database Engineering - Hussein Nasser</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PLBlnK6fEyqRi_CUQ-FXxgzKQ1dwr_ZJWZ">Database - Neso Academy</a></li>
</ul>
{% endblock %}