{% extends "base.html" %}
{% block content %}
<h1>Links to learn for Devops Engineer</h1>
<ul class="qaz">
    <li><a href="https://roadmap.sh/devops">Devops Roadmap</a></li>
    <li><a href="https://github.com/milanm/DevOps-Roadmap">Detailed Roadmap from Github</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PL9gnSGHSqcnoqBXdMwUTRod4Gi3eac2Ak">DevOps Bootcamp - Kunal Kushwaha</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PLWKjhJtqVAbkzvvpY12KkfiIGso9A_Ixs">Devops Full Course - fcc</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PLy7NrYWoggjwV7qC4kmgbgtFBsqkrsefG">DevOps Concepts explained  - TechWorld with Nana</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PLHyEAfc_mrxY1n7QzCxdgR_-3uDZzt7PR">Tamil DevOps Tutorial For Beginners - Interview DOT</a></li>
</ul>
{% endblock %}