{% extends "base.html" %}
{% block content %}
<div class="card text-center">
			<img src="/static/IMG/crr.jpeg" alt="Career Confusion Photo" class="card-img-top img-fluid img-thumbnail rounded mx-auto d-block h-10 w-10 align-items-center" style="height : 300px; width:300px;">
  			<div class="card-header">
    				Final Year Project - Panimalar Institute Of Technology
  			</div>
  			<div class="card-body">
    				<h5 class="card-title">Welcome here!</h5>
    				<p class="card-text">Are you someone who is intending to join a Software Job but is unaware of the Current Streams present and are also Unable to Figure out which Stream is the best for you?</p>
    				<a href="{{ url_for('recpage') }}" class="btn btn-primary">Click Here To Start</a>
  			</div>
			
        			
		</div>
{% endblock %}