{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-7 col-sm-12">
        <h6>Final Year Project - Panimalar Institute Of Technology</h6>
        <h1>Welcome here!</h1>
        <p>Are you someone who is intending to join a Software Job but is unaware of the Current Streams present and are also Unable to Figure out which Stream is the best for you?</p>
        <a href="{{ url_for('recpage') }}" class="btn btn-primary">Click Here To Start</a>
    </div>
    <div class="col-md-5 col-sm-12 h-25">
        <img src="/static/IMG/crr.jpeg" alt="Career Confusion Photo">
    </div>
</div>
{% endblock %}