{% extends "base.html" %}
{% block content %}
<h1>Links to learn for Security Engineer</h1>
<ul class="qaz">
    <li><a href="https://www.geeksforgeeks.org/how-to-become-a-cyber-security-engineer/">Complete Roadmap - Geeksforgeeks</a></li>
    <li><a href="https://roadmap.sh/cyber-security">Cyber Security Roadmap - Roadmap.sh</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PLR0bgGon_WTIjs0lyCAUp3v1qAraXCJcH">Cyber Security in Python Youtube Playlist - Vinsloev Academy</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PL7U_yEN2W6ms00ojmffuy_SQc4xmzXvcN">Compilation of Videos to Learn Cyber Security Playlist</a></li>
    <li><a href="https://www.youtube.com/watch?v=uTAaFExLgwQ">Cyber Security Guide  - Network Chuck</a></li>
    <li><a href="https://drive.google.com/drive/folders/1LUA9R-bFF28K-N1Z59dHiA89k4smb-4l">Documents needed to learn Security Engineer</a></li>
    <li><a href="https://www.youtube.com/watch?v=i5BiTp28oes">Roadmap for Security Engineer(Tamil) - Rahul M</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PL-M5l4dLK9TUaql2YMIFLmI46T931M3ZJ">Cyber Security (Tamil) - KaaShiv InfoTech</a></li>
</ul>
{% endblock %}