{% extends "base.html" %}
{% block content %}
<h1>Links to learn for Software Quality Engineer</h1>
<ul class="qaz">
    <li><a href="https://roadmap.sh/qa">Complete Roadmap - QA Engineer</a></li>
    <li><a href="https://medium.com/slalom-build/quality-engineer-learning-roadmap-fddfcb77409e">Quality Engineer Learning Roadmap - Blake Norrish</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PLj5VKaW115t1iO0bMWitfs7ECNrV3tIYm">SOFTWARE TESTING BOOTCAMP - TM SQUARE</a></li>
    <li><a href="https://www.youtube.com/watch?v=sO8eGL6SFsA">Software Testing Full Course In 10 Hours - Edureka!</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PLL34mf651faM_nn8uKlnwbQPw5zSh_F84">SOFTWARE TESTING TUTORIAL - Software Testing Mentor</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PLZoTAELRMXVPBTrWtJkn3wWQxZkmTXGwe">Software Testing (Tamil) - Test Tamizha</a></li>
</ul>
{% endblock %}